<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Coronavirus LIVE: Not worth time, effort, says Trump on daily Covid-19 briefings</h2>
            <h4 style="line-height:25px;">Biplab Kanti Dasgupta died late last night at a private hospital in Kolkata. He held the charge of Additional Director of Health Services in West Bengal. </h4>
        </div>
        <div class="col-md-12">
            <div class="image">
                <img src= "https://akm-img-a-in.tosshub.com/indiatoday/images/story/202004/Screenshot_2020-04-26_at_1.48.-770x433.png?q57LWDsO.4QC3Aji2IBvr0FLdLuweLMk" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="content">
                <p>
                West Bengal Medical Officer Dr Biplab Kanti Dasgupta died after testing positive for the deadly virus.

According to reports, Dasgupta died late last night at a private hospital in Kolkata. He held the charge of Additional Director of Health Services in West Bengal.

Soon after his death, the West Bengal Doctor's Forum released a note expressing condolence. "Our thoughts and prayers are with his family, relatives, colleagues and other dear and near ones. Heartfelt condolences from the entire medical fraternity."

The doctors’ forum also said that Dasgupta’s death is the first among the medical fraternity from the state.

Dasgupta’s wife has also tested positive for the virus, said the WBDF condolence note and hoped for her speedy recovery.

“Our prayers are with her and we wish her a speedy recovery. We also pray for the speedy recovery of of each healthcare worker and all others undergoing treatment.”

Expressing concern, the doctors’ forum said “more and more” healthcare workers are being diagnosed with Covid-19, out of which some are asymptomatic in nature.

Citing a shortage of healthcare workers already, it said, “With limited resources, we cannot afford to have a situation where the shortage of healthcare workers pose threat to delivery of care.”

The body also called for more intensive testing in the state apart from proper supply of PPE kits and strict adherence to ICMR guidelines.

“Lastly, we urge the state government to issue a separate medical bulletin daily to appraise us about the condition of healthcare workers under treatment and quarantine.”
</p>

</div>
        </div>
    </div>
</div>