<div class="container">
  <h3>Add News</h3>
  <form [formGroup]="newsForm" (ngSubmit)="save()">
    <div class="row margin_bottom">
      <label class="col-md-6" for="txtName">News Title</label>
      <input
        class="form-control col-md-6"
        id="txtName"
        type="text"
        placeholder="Enter news title"
        formControlName="newsTitle"
        [ngClass]="{ 'is-invalid': submitted && f.newsTitle.errors }" 
        />

       <div class="invalid-feedback col-md-6">
        <span 
        *ngIf="(f.newsTitle.touched || submitted) && f.newsTitle.errors?.required"
        class="alert-danger">
          Please enter news title.
        </span>
        <span
        class="alert-danger"
        *ngIf="(f.newsTitle.touched || submitted) && f.newsTitle.errors?.minlength">
          News title must be more than 10 character.
        </span>
      </div>
     
   
    </div>



    <div class="row">
      <label class="col-md-3" for="txtName">Image Link</label>
      <input
        class="form-control col-md-3"
        id="txtName"
        type="text"
        placeholder="Enter Image Link"
        formControlName="image_link"
        [ngClass]="{ 'is-invalid': submitted && f.image_link.errors }"
       
      />
      <div class="invalid-feedback col-md-6">

        <span
        class="alert-danger"
         *ngIf="(f.image_link.touched || submitted) && f.image_link.errors?.required">
          Please enter image_link.
        </span>
        <span
        class="alert-danger"
        *ngIf="(f.image_link.touched || submitted) && f.image_link.errors?.minlength">
          image_link must be more than 10 character.
        </span>

      </div>

    </div>


    <div class="row">
      <label class="col-md-3" for="txtName">Image Link</label>
      <input
        class="form-control col-md-3"
        id="txtName"
        type="text"
        placeholder="Enter description"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
       
      />
      <div class="invalid-feedback col-md-6">

        <span
        class="alert-danger"
        *ngIf="(f.description.touched || submitted) && f.description.errors?.required">
          Please enter description.
        </span>
        <span 
        class="alert-danger"
        *ngIf="(f.description.touched || submitted) && f.description.errors?.minlength">
          Description must be more than 10 character.
        </span>
     </div>


    </div>




    <div class="row">
      <label class="col-md-3" for="txtName">Full full_news</label>
      <textarea
        class="form-control col-md-3"
        id="txtName"
        type="text"
        placeholder="Enter full full_news"
        formControlName="full_news"
        [ngClass]="{ 'is-invalid': submitted && f.full_news.errors }"
       
      ></textarea>


      <span class="invalid-feedback col-md-6">
        <span 
        class="alert-danger"
        *ngIf="(f.full_news.touched || submitted) && f.full_news.errors?.required">
          Please enter full full_news.
        </span>
        <span 
        class="alert-danger"
        *ngIf="(f.full_news.touched || submitted) && f.full_news.errors?.minlength">
          News title must be more than 1000 character.
        </span>
      </span>
    </div>





    <div class="row">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
<!-- 
<br />
touched : {{ newsForm.touched }}
<br />
dirty : {{ newsForm.dirty }}
<br />
value : {{ newsForm.value | json }} -->
