
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Assignment</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="dashboard">Dashboard</a></li>
      <li><a href="news">Latest News</a></li>
      <li><a href="precaution">Precaution</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>