<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Precaution <hr></h2>
          </div>
        <div class="col-md-4">
            <div class="card" style="border: 1px solid; margin: 5px; padding: 10px;">
                <img class="card-img-top" width="100%" height="100%" src="https://images.immediate.co.uk/production/volatile/sites/4/2020/03/GettyImages-1179539807-09cc14f.jpg?webp=true&quality=90&resize=940%2C399" alt="Card image cap" />
                <div class="card-body">
                    <h3 class="card-title"><b>Wash your hands frequently.</b></h3>
                    <p class="card-text">Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</p>
                    <p class="card-text"><b>Why?</b> Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="border: 1px solid;">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

      </div>
</div>