<div class="container">
    <div class="row">

       <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>State Name</th>
                <th>State Code</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let state of StateList">
                    <td (click)="getDistrictData(state.districtList)">{{ state.stateName}}</td>
                    <td (click)="getDistrictData(state.districtList)">{{ state.stateCode}}</td>
                </tr>

            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table *ngIf="distList.length>0"  class="table table-bordered">
                <thead>
                  <tr>
                    <th>District Name</th>
                    <th>Total cases </th>
                    <th>Recovered </th>
                    <th>Deceased</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dis of distList">
                        <td >{{ dis.districtName}}</td>
                        <td>{{ dis.totalCases}}</td>
                        <td>{{ dis.recovered}}</td>
                        <td>{{ dis.deceased}}</td>
                    </tr>
    
                </tbody>
              </table>
</div>



    </div>
</div>

